.pc-hidden {
    display: none;
}
@media (max-width: 768px) {
    #interview2 {
        .interview-top-text {
            padding-right: 0;
            .font-60 {
                font-size: 35px;
                line-height: 35px;
            }
            .font-30 {
                font-size: 15px;
                line-height: 15px;
            }
            .margin-vertical-20  {
                margin-top: 15px;
                margin-bottom: 15px;
            }
            .margin-left-90 {
                margin-left: 45px;
            }
        }
    }
}

@media (max-width: 480px) {
    .custom-sp-row {
        margin-left: -10px;
        margin-right: -10px;
    }
    #benefit {
        h2{
            color: #000;
            font-size: 17px;
            margin: 30px 0;
        }
        h3 {
            font-size: 12px;
        }
        p {
            font-size: 12px;
        }
        #main {
            .sp-hidden{
                display: none;
            }
            .pc-hidden {
                display: block;
            }
            .header-title{
                position: relative;
                transform: unset;
                width: 100%;
                top: unset;
                left: unset;
                h1{
                    font-size: 25px;
                    line-height: 30px;
                    margin: 10px 0;
                }
                p {
                    font-size: 15px;
                    .font-18 { 
                        font-size: 11px;
                    }
                }
            }
        }
        #element3 {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .container:nth-child(2),.container:nth-child(4) {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
    #figure-description {
        font-size: 11px;
    }
    #figure {
        h3{
            font-size: 17px;
        }
        .font-110 {
            font-size: 72px;
            line-height: 72px;
            padding: 20px 0;
        }
        .font-50 {
            font-size: 33px;
        }
        p {
            font-size: 11px;
        }
        .col-sm-6 {
            margin-bottom: 50px;
        }
    }
    #figure-main {
        margin-bottom: 35px;
    }
    .page-title {
        h2 {
            font-size: 16px;
            line-height: 20px;
            margin: 0;
        }
    }
    .interview-container {
        padding-left: 10px;
        padding-right: 10px;
        .margin-vertical-15 {
            padding: 0 8px;
        }
        .row{
            margin-right: -10px;
            margin-left: -10px;
        }
        .margin-top-30 {
            margin-top:15px;
        }
        .col-xs-6 {
            padding: 0 7.5px;
        }
        .border-bold{
            border-width: 2px;
            font-size: 10px;
        }
    }
    .interview-wrap {
        .child-label {
            .rotate {
                top: 54% !important;
            }
        }
        .font-24, .font-20{
            font-size: 12px;
            line-height: 15px;
        }
        .font-12 {
            font-size: 7px;
            line-height: 10px;
        }
    }
    .welfare {
        h3 {
            font-size: 16px;
            margin-top: 35px;
            margin-bottom: 15px;
        }
        .font-17 {
            font-size: 11px;
        }
        &.padding-vertical-45 {
            padding-top: 25px;
            padding-bottom: 25px;
        }
        .page-title {
            padding: 0;
            margin-bottom: -20px;
        }
    }
    .t-border-left {
        border-width: 2px;
    }
    .breadcrumb {
        display: none;
    }
    .card-block {
        h2 {
            font-size: 16px;
            margin-bottom: 25px;
            margin-top: 20px;
        }
        p {
            font-size: 12px;
        }
    }

    .sp-no-padding {
        padding: 0;
    }
    .sp-padding-vertical-20 {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .sp-padding-vertical-40 {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .sp-padding-horizontal-10 {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    #interview2 {
        .interview-top-text {
            padding-right: 0;
            .font-60 {
                font-size: 16px;
                line-height: 20px;
            }
            .font-30 {
                font-size: 12px;
                line-height: 11px;
            }
            .margin-vertical-20  {
                margin-top: 15px;
                margin-bottom: 3px;
            }
            .margin-left-90 {
                margin-left: 45px;
            }

            .at-bottom {
                position: absolute;
                bottom: 50px;
                right: 40px;
            }
        }
    }
}