$ms-font:'ＭＳ Ｐゴシック', 'MS PGothic','Hiragino Kaku Gothic Pro','Arial',sans-serif;
$kozuka-font:'Kozuka Gothic Pro','メイリオ', Meiryo,'Arial',sans-serif;
$mincho-font:'Hiragino Mincho ProN','メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', 'Arial',sans-serif;
$kaku-font:'Hiragino Kaku Gothic ProN','メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', 'Arial',sans-serif;
$kakusub-font:'Hiragino Kaku Gothic StdN','メイリオ', Meiryo,sans-serif;
$raleway:'ralewaymedium','Kozuka Gothic Pr6N',sans-serif;
$raleway-bold:'ralewaybold','Kozuka Gothic Pr6N',sans-serif;
$raleway-reg:'ralewayregular','Kozuka Gothic Pr6N',sans-serif;
$meiryo-font:'メイリオ', Meiryo,'ＭＳ Ｐゴシック', 'MS PGothic','Arial',sans-serif;
$yu:'YuGothic','ＭＳ Ｐゴシック', 'MS PGothic',sans-serif;
$source:'Source Sans Pro',Arial,sans-serif;
$default:$ms-font;


// Font Properties
$default-size:14px;
$default-line:1.7;
$default-color:#252525;

//Link Properties
$sub-color:#d75760;
$sublight-color:#f57db0;
$sub-hover:$default-color;